main {
    width: 100%;
    .container {
        width: 70%;
        margin: 70px auto;
        .cards_box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            .card {
                width: 30%;
                margin: 0 5px;
                img {
                    
                    width: 100%;
                }
            }
        }
    }
}